@model Udemy.Models.Vendedor

@{
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>

<h3>Deseja realmente excluir o vendedor?</h3>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Email)
        </dd>
        <dt>
            Data de nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.DataDeNascimento)
        </dd>
        <dt>
            Salário base
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Salariobase)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index">Voltar</a>
    </form>
</div>